<div class="row">
<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span6 offset3">
    <div class="field">
      <%= f.hidden_field :course_id, :value => (params[:course_id]) %>
    </div>
    <div class="field">
      <%= f.label :Q1 %>
      <%= f.label "How would you rate this training?" %> 
      <%= f.select :Q1, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q2 %>
      <%= f.label "How would you rate this teacher?" %>
      <%= f.select :Q2, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q3 %>
      <%= f.label "How would you rate this teacher?" %>
      <%= f.select :Q3, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q4 %>
      <%= f.label "How would you rate this teacher?" %>
      <%= f.select :Q4, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q5 %>
      <%= f.label "How would you rate this teacher?" %>
      <%= f.select :Q5, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q6 %>
      <%= f.label "How would you rate this teacher?" %>
      <%= f.select :Q6, [[1,'1'], [2,'2'], [3,'3'], [4,'4'], [5,'5']]%>
    </div>
    <div class="field">
      <%= f.label :Q7 %><br />
      <%= f.text_area :Q7, :rows => 4 %>
    </div>
    <div class="field">
      <%= f.label :Q8 %><br />
      <%= f.text_area :Q8, :rows => 4 %>
    </div>
    <div class="field">
      <%= f.label :Q9 %><br />
      <%= f.text_area :Q9, :rows => 4 %>
    </div>
    <div class="field">
      <%= f.label :Q10 %><br />
      <%= f.text_area :Q10, :rows => 4 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
</div>