<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :useremail %><br />
    <%= f.text_field :useremail %>
  </div>
  <div class="field">
    <%= f.label :courseid %><br />
    <%= f.number_field :courseid %>
  </div>
  <div class="field">
    <%= f.label :Q1 %>
    <%= f.label "How would you rate this training?" %> 
    <div class="radios inline">
    <%= radio_button_tag(:Q1, 1) %>
    <%= label_tag(:Q1_1, "1") %>
    <%= radio_button_tag(:Q1, 2) %>
    <%= label_tag(:Q1_2, "2") %>
    <%= radio_button_tag(:Q1, 3) %>
    <%= label_tag(:Q1_3, "3") %>
    <%= radio_button_tag(:Q1, 4) %>
    <%= label_tag(:Q1_4, "4") %>
    <%= radio_button_tag(:Q1, 5) %>
    <%= label_tag(:Q1_5, "5") %><br />
    </div>
  </div>
  <div class="field">
    <%= f.label :Q2 %>
    <%= f.label "How would you rate this teacher?" %>
    <div class="inline">
      <%= f.radio_button(:Q2, 1) %>
      <%= f.label(:Q2_1, "1") %>
      <%= f.radio_button(:Q2, 2) %>
      <%= f.label(:Q2_2, "2") %>
      <%= f.radio_button(:Q2, 3) %>
      <%= f.label(:Q2_3, "3") %>
      <%= f.radio_button(:Q2, 4) %>
      <%= f.label(:Q2_4, "4") %>
      <%= f.radio_button(:Q2, 5) %>
      <%= f.label(:Q2_5, "5") %><br />
    </div>
  </div>
  <div class="field">
    <%= f.label :Q3 %>
    <%= f.label "How would you rate this teacher?" %>
    <%= f.radio_button :Q3, '1' %>
    <%= f.label(:Q2_1, "1") %>
    <%= f.radio_button :Q3, '2' %>
    <%= f.label(:Q2_2, "2") %>
    <%= f.radio_button :Q3, '3' %>
    <%= f.label(:Q2_3, "3") %>
    <%= f.radio_button :Q3, '4' %>
    <%= f.label(:Q2_4, "4") %>
    <%= f.radio_button :Q3, '5' %>
    <%= f.label(:Q2_5, "5") %><br />
  </div>
  <div class="field">
    <%= f.label :Q4 %>
    <%= f.label "How would you rate this teacher?" %>
    <%= radio_button_tag(:Q4, 1) %>
    <%= label_tag(:Q4_1, "1") %>
    <%= radio_button_tag(:Q4, 2) %>
    <%= label_tag(:Q4_2, "2") %>
    <%= radio_button_tag(:Q4, 3) %>
    <%= label_tag(:Q4_3, "3") %>
    <%= radio_button_tag(:Q4, 4) %>
    <%= label_tag(:Q4_4, "4") %>
    <%= radio_button_tag(:Q4, 5) %>
    <%= label_tag(:Q4_5, "5") %><br />
  </div>
  <div class="field">
    <%= f.label :Q5 %>
    <%= f.label "How would you rate this teacher?" %>
    <%= radio_button_tag(:Q5, 1) %>
    <%= label_tag(:Q5_1, "1") %>
    <%= radio_button_tag(:Q5, 2) %>
    <%= label_tag(:Q5_2, "2") %>
    <%= radio_button_tag(:Q5, 3) %>
    <%= label_tag(:Q5_3, "3") %>
    <%= radio_button_tag(:Q5, 4) %>
    <%= label_tag(:Q5_4, "4") %>
    <%= radio_button_tag(:Q5, 5) %>
    <%= label_tag(:Q5_5, "5") %><br />
  </div>
  <div class="field">
    <%= f.label :Q6 %>
    <%= f.label "How would you rate this teacher?" %>
    <%= radio_button_tag(:Q6, 1) %>
    <%= label_tag(:Q6_1, "1") %>
    <%= radio_button_tag(:Q6, 2) %>
    <%= label_tag(:Q6_2, "2") %>
    <%= radio_button_tag(:Q6, 3) %>
    <%= label_tag(:Q6_3, "3") %>
    <%= radio_button_tag(:Q6, 4) %>
    <%= label_tag(:Q6_4, "4") %>
    <%= radio_button_tag(:Q6, 5) %>
    <%= label_tag(:Q6_5, "5") %><br />
  </div>
  <div class="field">
    <%= f.label :Q7 %><br />
    <%= f.text_area :Q7 %>
  </div>
  <div class="field">
    <%= f.label :Q8 %><br />
    <%= f.text_area :Q8 %>
  </div>
  <div class="field">
    <%= f.label :Q9 %><br />
    <%= f.text_area :Q9 %>
  </div>
  <div class="field">
    <%= f.label :Q10 %><br />
    <%= f.text_area :Q10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
