<h1>Listing evaluations</h1>

<table class = "table table-bordered table-hover">
  <tr>
    <th>User</th>
    <th>Course</th>
    <th>Course Section</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>Q5</th>
    <th>Q6</th>
    <th>Q7</th>
    <th>Q8</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.user.name %></td>
    <td><%= evaluation.coursesection.course.coursename %></td>
    <td><%= evaluation.coursesection.id %></td>
    <td><%= evaluation.Q1 %></td>
    <td><%= evaluation.Q2 %></td>
    <td><%= evaluation.Q3 %></td>
    <td><%= evaluation.Q4 %></td>
    <td><%= truncate(evaluation.Q5, length => 10) %></td>
    <td><%= truncate(evaluation.Q6, length => 10) %></td>
    <td><%= truncate(evaluation.Q7, length => 10) %></td>
    <td><%= truncate(evaluation.Q8, length => 10) %></td>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
