<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= link_to "Create New External Training", externaltrainings_path, class: "btn btn-large btn-primary" %>
        <br> <br>
        <% if current_user.admin? %>
        <%= link_to "Create New Internal Course", newcourse_path, 
                                class: "btn btn-large btn-primary" %>
        <% end %>
        <br>
      <section>
    </aside>
      <div class="span8">
        <table class = "table table-bordered table-hover">
          <tr>
            <th>Course Name</th>
            <th>Course Section</th>
            <th>Course Date</th>
            <th>Course Time</th>
            <th>Location</th>
          </tr>
        <% if current_user.attendances.any? %>
          <% current_user.attendances.each do |attendance| %>
            <tr>
              <td><%= attendance.coursesection.course.id %></td>
              <td><%= attendance.coursesection_id %></td>
              <td><%= attendance.coursesection.coursesectiondate.strftime("%m/%d/%Y") %></td>
              <td><%= attendance.coursesection.coursesectiondate.strftime("%I:%M%p") %></td>
              <td><%= attendance.coursesection.location %></td>
            </tr>
          <% end %>
        <% end %>
      </div>
</div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the OPP Training Portal</h1>

    <p>
      Sign up for mandatory or optional training courses, post evaluations and add external experiences!
    </p>

    <br>

    <%= link_to "Sign in now", signin_path, 
                                class: "btn btn-large btn-primary" %>

    <p>
      <br>
      <i> add extra info here if needed </i>
    </p>
  </div>

<% end %> 