<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= link_to "Create New External Training", externaltrainings_path, class: "btn btn-large btn-primary" %>
        <br> <br>
        <% if current_user.admin? %>
        <%= link_to "Create New Internal Course", newcourse_path, 
                                class: "btn btn-large btn-primary" %>
        <%= link_to "View Evaluations", evaluationsindex_path, 
                                class: "btn btn-large btn-primary" %>
        <% end %>
        <br>
      <section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the OPP Training Portal</h1>

    <p>
      Sign up for mandatory or optional training courses, post evaluations and add external experiences!
    </p>

    <br>

    <%= link_to "Sign in now", signin_path, 
                                class: "btn btn-large btn-primary" %>

    <p>
      <br>
      <i> add extra info here if needed </i>
    </p>
  </div>

<% end %> 