<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= link_to "Create a new course", newcourse_path, 
                                class: "btn btn-large btn-primary" %>
        <br>
      <section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Study Bug</h1>

    <h2>
      Study Socially!
    </h2>

    <p>
      Keep Track of Classes, Update your Classmates and Get Great Grades!
    </p>

    <br>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>

    <p>
      <br>
      Study Bug is the latest online social tool that helps organize your academic life. Use it to keep track of your assignments, or get in touch
      with a classmate who might know how to help. You can use the ever-so-nifty Study Bug to monitor your progress and prevent yourself from falling behind. Whether it's a list of due dates, classmates who've completed assignments ahead of you, or the self-satisfaction you get from the celebration of a good grade, Study Bug is here to show you the path to success. Create a profile and become a Study Bug!
    </p>
  </div>

<% end %> 