<%= javascript_include_tag "application" %>
<div class="row">
<%= form_for(@coursesection) do |f| %>
  <% if @coursesection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coursesection.errors.count, "error") %> prohibited this course section from being saved:</h2>

      <ul>
      <% @coursesection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span6 offset3">
  <div class="field">
    <%= f.hidden_field :course_id, class: "input-mini", :value => (params[:course_id]) %>
  </div>
  
  <%= f.label "Course Date And Time" %>
  <%= datetime_picker_input "coursesection",:coursesectiondate, :dateFormat => "yy-mm-dd" %>

  <div class="field">
    <%= f.label :facilitator %>
    <%= f.text_field :facilitator %>
  </div>

  <div class="field">
    <%= f.label :duration, 'Duration (Minutes)' %>
    <%= f.number_field :duration, class: "input-mini" %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Add Section', :class => 'btn btn-primary btn-large' %>
    <%= link_to 'Back', coursesections_path, class: "btn btn-large" %>
  </div>

 


</div>
<% end %>
</div>