<%= form_for(@coursesection) do |f| %>
  <% if @coursesection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coursesection.errors.count, "error") %> prohibited this course section from being saved:</h2>

      <ul>
      <% @coursesection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :coursesectiondate %><br />
    <%= f.date_select :coursesections, :coursesectiondate %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
