<% content_for :title, "Course Section Evaluations" %>
<% provide(:title, @coursesection.id) %>


<p>
<h2>
  <b><%= @coursesection.course.coursename %> Section <%= @coursesection.id %></b>
</h2>
</p>

<% if @coursesection.evaluations.any? %>
	<table class = "table table-bordered table-hover">
	  <tr>
	    <th>User_id</th>
      <th>Course_id</th>
	    <th>CourseSection_id</th>
	    <th>Q1</th>
	    <th>Q2</th>
	    <th>Q3</th>
	    <th>Q4</th>
	    <th>Q5</th>
	    <th>Q6</th>
	    <th>Q7</th>
	    <th>Q8</th>
	    <th></th>
	    <th></th>
	    <th></th>
   	  </tr>

	<% @coursesection.evaluations.each do |evaluation| %>
  	  <tr>
    	<td><%= evaluation.user_id %></td>
      <td><%= evaluation.coursesection.course_id %></td>
    	<td><%= evaluation.coursesection_id %></td>
    	<td><%= evaluation.Q1 %></td>
    	<td><%= evaluation.Q2 %></td>
    	<td><%= evaluation.Q3 %></td>
    	<td><%= evaluation.Q4 %></td>
    	<td><%= evaluation.Q5 %></td>
    	<td><%= evaluation.Q6 %></td>
    	<td><%= evaluation.Q7 %></td>
    	<td><%= evaluation.Q8 %></td>
    	<td><%= link_to 'Show', evaluation %></td>
    	<td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    	<td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 	  </tr>
	<% end %>
	</table>
<% end %>

<%= link_to 'Back', coursesections_path, class: "btn btn-small" %>
<% if current_user.admin? or current_user.supervisor? %>
<% end %>