<% content_for :title, "Course Section Evaluations" %>
<% provide(:title, @coursesection.id) %>


<p>
<h2>
  <b><%= @coursesection.course.coursename %> Section <%= @coursesection.id %></b>
</h2>
</p>
<p> <%= link_to 'Question 5', coursesectioneval5_url, class: "btn btn-small"%>
	<%= link_to 'Question 6', coursesectioneval6_url, class: "btn btn-small"%>
  <%= link_to 'Question 7', coursesectioneval7_url, class: "btn btn-small"%>
  <%= link_to 'Question 8', coursesectioneval8_url, class: "btn btn-small"%>
</p>

<% if @coursesection.evaluations.any? %>
	<table class = "table table-bordered table-hover">
	  <tr>
	    <th>User</th>
        <th>Course ID</th>
	    <th>Q1</th>
	    <th>Q2</th>
	    <th>Q3</th>
	    <th>Q4</th>
	    <th>Q5</th>
	    <th>Q6</th>
	    <th>Q7</th>
	    <th>Q8</th>
	    <th></th>
	    <th></th>
	    <th></th>
   	  </tr>

	<% @coursesection.evaluations.each do |evaluation| %>
  	  <tr>
    	<td><%= evaluation.user.name %></td>
      	<td><%= evaluation.coursesection.course_id %></td>
    	<td><%= evaluation.Q1 %></td>
    	<td><%= evaluation.Q2 %></td>
    	<td><%= evaluation.Q3 %></td>
    	<td><%= evaluation.Q4 %></td>
    	<td><%= truncate(evaluation.Q5, :length => 15) %></td>
    	<td><%= truncate(evaluation.Q6, :length => 15) %></td>
    	<td><%= truncate(evaluation.Q7, :length => 15) %></td>
    	<td><%= truncate(evaluation.Q8, :length => 15) %></td>
    	<td><%= link_to 'Show', evaluation, class: "btn btn-small" %></td>
    	<td><%= link_to 'Edit', edit_evaluation_path(evaluation), class: "btn btn-small btn-success" %></td>
    	<td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
 	  </tr>
	<% end %>
	</table>
<% end %>

<%= link_to 'Back', coursesection_url, class: "btn" %>
<%= link_to 'Download Report', coursesectioneval_url(@coursesection.id, format: "xls" ), class: "btn btn-success" %>