<div class="row">
<% content_for :title, "coursesection" %>
<% provide(:title, @coursesections.course_id) %>


<p>
	<h2>
  <b><%= @coursesections.course.coursename %> - Section <%= @coursesections.id %> </b>
</h2>
</p>

<div class="span6 offset3">
<p>
  <b>Course Name:</b>
  <%= @coursesections.course.coursename %>
</p>

<p>
  <b>Course Section:</b>
  <%= @coursesections.id %>
</p>

<p>
  <b>Course Description:</b><br />
  <%= @coursesections.course.coursedescription %>
</p>

<p>
  <b>Date:</b><br />
  <%= @coursesections.coursesectiondate.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Time:</b><br />
  <%= @coursesections.coursesectiondate.strftime("%I:%M%p") %>
</p>

<p>
  <b>Length: </b><%= @coursesections.duration %> hour(s)
</p>

<p>
  <b>Location:</b><br />
  <%= @coursesections.location %>
</p>

<p>
	<%= link_to 'Attached File', @coursesections.course.resource_url.to_s, class: "btn btn-warning" %>
</p>

<br />

<%= link_to 'Back', coursesections_path, class: "btn btn-small" %>
<%= link_to 'Evaluate', newevaluation_path( :coursesection_id => @coursesections.id ), class: "btn btn-small" %>

<% if current_user.admin? or current_user.supervisor? %>
<br />
<br />
<<<<<<< HEAD
<%= link_to 'Attendance', attendance_url, class: "btn btn-small"%>
=======
<%= link_to 'Evaluations', coursesectioneval_url(@coursesections), class: "btn btn-small"%>
<%= link_to 'Attendance', attendance_path, class: "btn btn-small"%>
>>>>>>> b532f80d1547bb56753144f23386d245a6cf443b
<%= link_to 'Edit', edit_coursesection_path, class: "btn btn-small btn-success"%>
<%= link_to 'Destroy', @coursesection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
</div>
<% end %>
</div>