<% content_for :title, "coursesection" %>
<% provide(:title, @coursesections.course_id) %>

<div class="row">
<p>
	<h2>
  <b><%= @coursesections.course.coursename %> - Section <%= @coursesections.id %> </b>
</h2>
</p>

<div class="span6 offset3">
<p>
  <b>Course Name:</b>
  <%= @coursesections.course.coursename %>
</p>

<p>
  <b>Course Section:</b>
  <%= @coursesections.id %>
</p>

<p>
  <b>Course Description:</b><br />
  <%= @coursesections.course.coursedescription %>
</p>

<p>
  <b>Facilitator:</b><br />
  <%= @coursesections.facilitator %>
</p>

<p>
  <b>Date:</b><br />
  <%= @coursesections.coursesectiondate.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Time:</b><br />
  <%= @coursesections.coursesectiondate.strftime("%I:%M%p") %>
</p>

<p>
  <b>Length: </b><%= @coursesections.duration %> minutes
</p>

<p>
  <b>Location:</b>
  <%= @coursesections.location %>
</p>

<p>
	<%= link_to 'Attached File', @coursesections.course.resource_url.to_s, class: "btn btn-warning" %>
</p>

<br />

  <% if @coursesections.coursesectiondate <= Date.current %>
    <% if @coursesections.evaluations.where(:user_id => current_user.id).any? %>
    </br><p>You have already evaluated this course!</p>
    <% else %>
      <%= link_to 'Evaluate', newevaluation_path( :coursesection_id => @coursesections.id ), class: "btn btn-small" %>
    <% end %>
  <% end %>

  <% if @coursesections.attendances.where(:user_id => current_user.id).any? %>
    </br><p>You are already Signed Up!</p>
  <% else %>
    <%= link_to 'Sign Up', new_attendance_path( :coursesection_id => @coursesections.id ), class: "btn btn-small btn-primary" %>
  <% end %>
  <br /><br/>

<% if current_user.admin? or current_user.supervisor? %>


<%= link_to 'Attendance', attendances_path( :coursesection_id => @coursesections.id ), class: "btn btn-small"%>
<%= link_to 'Edit', edit_coursesection_path, class: "btn btn-small btn-success"%>
<%= link_to 'Destroy', @coursesection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
<br />
<br />
<section>
  <%= link_to 'Evaluations', coursesectioneval_url(@coursesections), class: "btn btn-small"%>
</section>
<% end %>
</div>
</div>