<% provide(:title, "Edit user") %>
<% if  !current_user.admin? && !current_user.supervisor? %>
<h1>Change your Password</h1>
<% end %>
<% if current_user.admin? or current_user.supervisor? %>
<h1>Edit User Information</h1>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% if current_user.admin? %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :supervisor, "Supervisor" %>
      <%= f.check_box :supervisor %>

      <%= f.label :admin, "Administrator" %>
      <%= f.check_box :admin %>

      <%= f.label :password, "Enter New Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>

      <% if !current_user?(@user) %>
            <%= f.label :inactive, "User Inactive?" %>
            <%= f.check_box :inactive %>
      <% elsif current_user?(@user) %>
            <%= f.label :inactive, "User Inactive?" %>
            <%= f.check_box :inactive, :disabled => true %>
      <% end %>

      <br />
      <br />

      <% elsif current_user.supervisor? %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Enter New Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>
      <br />
      <br />  

      <% elsif not current_user.admin? %>

      <%= f.label :name %>
      <%= f.text_field :name, :disabled => true %>

      <%= f.label :email %>
      <%= f.text_field :email, :disabled => true %>

      <%= f.label :password, "Enter New Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>

      <% end %>

      <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
    <% end %>

  </div>
</div>