<% if current_user.admin? %>
<% provide(:title, 'Active users') %>
<h1>Active users</h1>
<div class="row">
	<div class="span6 offset3">
		<p><%= link_to "Add New User", signup_path, class: "btn btn-primary" %></p>
	</div>
	</br>

	<% form_tag users_path, :method => 'get' do %>
  		<p>
    	<%= text_field_tag :search, params[:search] %>
    	<%= submit_tag "Search", :name => nil %>
  		</p>
	<% end %>

	<%= will_paginate %>

	<div class="span6 offset3">
		<table class="table table-striped">
  			<%= render @users %>
		</table>
	</div>

	<%= will_paginate %>

	<br/>
	<div class ="span6 offset3">
		<p><%= link_to "View Inactive Users", '/inactive', class: "btn btn-warning" %></p>
	</div>
	<% end %>
</div>

<% if not current_user.admin? %>
	<h3>Administrator Access is required</h3>

<% end %>