<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <table class = "table table-bordered table-hover">
      <tr>
        <th>Course Name</th>
        <th>Course Section</th>
        <th>Location</th>
        <th>Course Date</th>
        <th>Course Time</th>
        <th>Attendance</th>
      </tr>
      <% if @user.attendances.any? %>
        <% @user.attendances.sort {|a,b| a.coursesection.coursesectiondate <=> b.coursesection.coursesectiondate }.each do |attendance| %>
            <tr>
              <td><%= attendance.coursesection.course.coursename %></td>
              <td><%= attendance.coursesection_id %></td>
              <td><%= attendance.coursesection.location %></td>
              <td><%= attendance.coursesection.coursesectiondate.strftime("%m/%d/%Y") %></td>
              <td><%= attendance.coursesection.coursesectiondate.strftime("%I:%M%p") %></td>
              <td><% if attendance.didattend? %> <i class="icon-ok"></i> <% end %>
                <% if not attendance.didattend? %> <i class="icon-remove icon-red"></i> <% end %>
              </td>
            </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>