<% if current_user.admin? %>
<% @users.each do |user| %>
<% if user.inactive? %>

	<tr>
	  <td><h5><%= link_to user.name, user %></h5></td>
	  
	  <% if current_user.admin? && !current_user?(user) %>
	   <td><%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %></td>
	   <td><%= link_to "edit", edit_user_path(user), class: "btn btn-small btn-success" %></td>

	  <% elsif current_user.admin? && current_user?(user) %>
	   <td><%= link_to "delete", users_path, data: { confirm: "Cannot delete currently signed-in user" }, class: "btn btn-small btn-danger disabled" %> </td>
	   <td><%= link_to "edit", edit_user_path(user), class: "btn btn-small btn-success" %></td>
	  <% end %>
	</tr>
<% end %>
<% end %>
<% end %>