<div class="row">
<%= form_for @externaltraining, :html => {:multipart => true} do |f| %>
  <% if @externaltraining.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@externaltraining.errors.count, "error") %> prohibited this externaltraining from being saved:</h2>

      <ul>
      <% @externaltraining.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span6 offset3">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :facilitator %>
    <%= f.text_field :facilitator %>
  </div>
  <div class="field">
    <%= f.label :date, "Date & Time" %>
    <%= f.datetime_select :date, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}, :order => [:month, :day, :year], :ampm => true %>
  </div>
  <div class="field">
    <%= f.label :duration, "Duration (in hours)" %>
    <%= f.number_field :duration, class: "input-mini" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => "4" %>
  </div>
  <div class="field">
      <%= f.file_field :externalresource %>
  </div>
  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :title, "Supervisor Approval" %>
    <%= f.check_box :supervisorapproval, class: "checkbox"%>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Update External Training', :class => 'btn btn-large btn-success' %>
    <%= link_to 'Back', externaltrainings_path, class: "btn btn-large" %>
  </div>
</div>
<% end %>
</div>