<h1>Listing externaltrainings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Facilitator</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Supervisorapproval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @externaltrainings.each do |externaltraining| %>
  <tr>
    <td><%= externaltraining.title %></td>
    <td><%= externaltraining.facilitator %></td>
    <td><%= externaltraining.date %></td>
    <td><%= externaltraining.duration %></td>
    <td><%= externaltraining.description %></td>
    <td><%= externaltraining.supervisorapproval %></td>
    <td><%= link_to 'Show', externaltraining %></td>
    <td><%= link_to 'Edit', edit_externaltraining_path(externaltraining) %></td>
    <td><%= link_to 'Destroy', externaltraining, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Externaltraining', new_externaltraining_path %>
