<div class="row">

<div class="span6 offset3">
<p><h2>
  <%= @externaltraining.title %></h2>
</p>

<p>
  <b>Facilitator:</b>
  <%= @externaltraining.facilitator %>
</p>

<p>
  <b>Date:</b>
  <%= @externaltraining.date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Time:</b>
  <%= @externaltraining.date.strftime("%I:%M%p") %>
</p>

<p>
  <b>Length:</b>
  <%= @externaltraining.duration %> minutes(s)
</p>

<p>
  <b>Description:</b>
  <%= @externaltraining.description %>
</p>

<p>
  <%= link_to 'Attached File', @externaltraining.externalresource_url.to_s, class: "btn btn-warning" %>
</p>

<% if current_user.admin? or current_user.supervisor? %>
<p>
  <b>Supervisor Approval:</b>
  <%= @externaltraining.supervisorapproval %>
</p>
<% end %>

<%= link_to 'Back', externaltrainings_path, class: "btn btn-small" %>
<% if current_user.admin? or current_user.supervisor? %>
<%= link_to 'Edit', edit_externaltraining_path(@externaltraining), class: "btn btn-small btn-success" %>
<%= link_to 'Destroy', @externaltraining, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
<% end %>
</div>
</div>