<% if current_user.admin? or current_user.supervisor?%>
<div class="row">
<% content_for :title, "courses" %>
<% provide(:title, @course.coursename) %>

<p>
<h2>
  <b><%= @course.coursename %> Report</b>
</h2>
</p>




<p>
  <b>Course ID:</b>
  <%= @course.id %>
</p>

<p>
  <b>Course Description:</b><br />
  <%= @course.coursedescription %>
</p>

<p> <b>Tag(s): </b>
<% @course.tags.any? %>
  <% @course.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>
</p>

<p>
  <%= link_to "Download Report", coursereport_url(@course.id, format: "xls" ), class: "btn btn-success" %>
</p>

	<br /><br /><br /><br /><br />
<table class="table table-striped">
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Course Section</th>
    <th>Attend</th>
  </tr>

<% @course.coursesections.sort {|a,b| a.coursesectiondate <=> b.coursesectiondate }.each do |coursesection| %>
  <% coursesection.attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.id %></td>
        <td><%= attendance.user.name %></td>
        <td><%= link_to attendance.coursesection.id, coursesectionshow_url(attendance.coursesection.id) %></td>
        <td><% if attendance.didattend? %> <i class="icon-ok"></i> <% end %>
        <% if not attendance.didattend? %> <i class="icon-remove icon-red"></i> <% end %></td>
    </tr>
  <% end %>
<% end %>
</table>


</div>
<% else %>
<h3>Administrator Access is required</h3>
<% end %>