<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="header">
      <ss:Font ss:Bold="1" ss:Size="25"/>
    </ss:Style>
    <ss:Style ss:ID="wrapcenter">
      <ss:Alignment ss:WrapText="1" ss:Vertical="Center"/>
    </ss:Style>
    <ss:Style ss:ID="wrapcenterheader">
      <ss:Alignment ss:WrapText="1" ss:Vertical="Center"/>
      <ss:Interior ss:Pattern="Solid" ss:Color="#86abd9"/>
      <ss:Font ss:Bold="1"/>
    </ss:Style>
  </ss:Styles>
  <Worksheet ss:Name="Course Report">
    <Table>
      <Column ss:Index="1" ss:Width="72"/>
      <Column ss:Index="2" ss:Width="72"/>
      <Column ss:Index="3" ss:Width="72"/>
      <Column ss:Index="4" ss:Width="72"/>
      <Row>
        <Cell ss:StyleID="header"><Data ss:Type="String" ><%= @course.coursename %> Report</Data></Cell>
      </Row>
      <Row>
        <Cell ss:StyleID="wrapcenterheader"><Data ss:Type="String">User ID</Data></Cell>
        <Cell ss:StyleID="wrapcenterheader"><Data ss:Type="String">User Name</Data></Cell>
        <Cell ss:StyleID="wrapcenterheader"><Data ss:Type="String">Course Section</Data></Cell>
        <Cell ss:StyleID="wrapcenterheader"><Data ss:Type="String">Attended?</Data></Cell>
      </Row>
      <% @course.coursesections.sort {|a,b| a.coursesectiondate <=> b.coursesectiondate }.each do |coursesection| %>
      <% coursesection.attendances.each do |attendance| %>
      <Row ss:StyleID="wrapcenter">
        <Cell><Data ss:Type="Number"><%= attendance.user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance.user.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= attendance.coursesection.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance.didattend? %> </Data></Cell>
      </Row>
      <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>