<% provide(:title, 'Create a new Course!') %>
<h1>Create a new Course!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :Coursename %>
      <%= f.text_field :Coursename %>

      <%= f.label :CourseDepartment %>
      <%= f.text_field :CourseDepartment %>

      <%= f.label :CourseNumber %>
      <%= f.text_field :CourseNumber %>

      <%= f.label :CourseCredits  %>
      <%= f.radio_button 'CourseCredits', '1' %><%= f.label :status ,'1' %>
      <%= f.radio_button 'CourseCredits', '1' %><%= f.label :status ,'2' %>
      <%= f.radio_button 'CourseCredits', '2' %><%= f.label :status ,'3' %>
      <%= f.radio_button 'CourseCredits', '2' %><%= f.label :status ,'4' %>

      <%= f.submit "Create a Class", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>