<div class="row">
<% content_for :title, "courses" %>
<% provide(:title, @course.coursename) %>

<aside class="span4">
<p>
	<h2>
  <b><%= @course.coursename %></b>
</h2>
</p>

<h2>
<% if current_user.admin? or current_user.supervisor? %>
<%= link_to 'New Section', newcoursesection_path( :course_id => @course.id ), class: "btn btn-small btn-primary"%>
<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-small btn-success"%>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
<%= link_to 'Report', coursereport_url(@course), class: "btn btn-small"%>
</br></br><%= link_to 'Show Upcoming Sections', course_url, class: "btn btn-small" %>
<% end %>
</h2>


<p>
  <b>Course ID:</b>
  <%= @course.id %>
</p>

<p>
  <b>Course Description:</b><br />
  <%= @course.coursedescription %>
</p>

<p>
	<%= link_to 'Attached File', @course.resource_url.to_s, class: "btn btn-warning" %>
</p>

<b>Tag(s):</b>
<% @course.tags.any? %>
  <% @course.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>
</aside>

<div class="span8">
	<br /><br /><br /><br /><br />
<table class="table table-striped">
  <tr>
    <th>Course Section</th>
    <th>Course Date</th>
    <th>Course Time</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <% if !current_user.admin? and !current_user.supervisor? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @course.coursesections.sort {|a,b| a.coursesectiondate <=> b.coursesectiondate }.each do |coursesection| %>
    <tr>
      <td><%= coursesection.id %></td>
      <td><%= coursesection.coursesectiondate.strftime("%m/%d/%Y") %></td>
      <td><%= coursesection.coursesectiondate.strftime("%I:%M%p") %></td>
      <td><%= link_to 'More Information', coursesection, class: "btn btn-small" %></td>
      <% if coursesection.attendances.where(:user_id == current_user.id).any? %>
      <td></td>
      <% else %>
      <td><%= link_to 'Sign Up', new_attendance_path( :coursesection_id => coursesection.id ), class: "btn btn-small btn-primary" %></td>
      <% end %>
      <td>
      <% if current_user.admin? or current_user.supervisor? %>
      <%= link_to 'Edit', edit_coursesection_path(coursesection), class: "btn btn-small btn-success" %></td>
      <td><%= link_to 'Destroy', coursesection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
      <% else %>
      <td></td>
      <% end %>
  </tr>
<% end %>
</table>
</div>





</div>
