<% content_for :title, "courses" %>
<% provide(:title, @course.coursename) %>


<p>
	<h2>
  <b><%= @course.coursename %></b>
</h2>
</p>

<p>
  <b>Course ID:</b>
  <%= @course.id %>
</p>

<p>
  <b>Course Description:</b><br />
  <%= @course.coursedescription %>
</p>

<p>
	<%= link_to 'Attached File', @course.resource_url.to_s, class: "btn btn-warning" %>
</p>
<br />

<%= link_to 'Back', courses_path, class: "btn btn-small" %>
<%= link_to 'Evaluate', newevaluation_path( :course_id => @course.id ), class: "btn btn-small" %>

<% if current_user.admin? or current_user.supervisor? %>
<br />
<br />
<%= link_to 'Attendance', attendance_path, class: "btn btn-small"%>
<%= link_to 'New Section', newcoursesection_path( :course_id => @course.id ), class: "btn btn-small"%>
<% end %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-small btn-success"%>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %>
<% end %>

<% @course.tags.any? %>
  <% @course.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>