<div class="row">
<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span6 offset3">
  <div class="field">
    <%= f.hidden_field :coursesection_id, :value => (params[:coursesection_id]) %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up', :class => 'btn btn-primary btn-large'%>
    <%= link_to 'Back', attendances_path, :class => 'btn btn-large' %>
  </div>
</div>
<% end %>
</div>