<h1>Course Attendance</h1>

<%= form_tag attendancelist_path, :method => :put, :url => :complete do |f| %>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Attendance</th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.useremail %></td>
    <td><% if attendance.didattend? %> <i class="icon-ok"></i> <% end %>
        <% if not attendance.didattend? %> <i class="icon-remove icon-red"></i> <% end %>
    </td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance, :coursesectionid => @coursesection_id), :class => 'btn btn-small' %></td>
    <td><%= link_to 'Remove', attendance, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'Courses', courses_path, :class => 'btn' %>
